.user-list{
    display: flex;
    justify-content: space-around;
    border: 1px solid #ccc;
    padding: 2px;
    margin: 0px;
    list-style: none;
}

.user-list-head{
    font-weight: bolder;
}

.list-button{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
}

.error{
    border: 1px solid red;
}

.error:focus{
    outline: 1px solid red;
}

.red-color{
    color: red;
    margin: 2px;
}